* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  transition: 0.4s ease;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  gap: 100px;
  height: 100vh;
  background-color: aliceblue;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.label {
  padding: 10px 30px;
}
.text {
  padding: 30px;
  font-size: 30px;
  color: #ff853f;
}
.image1 {
  background-image: url(./beautiful-fall-nature-scenery-free-image.webp);
}
.image2 {
  background-image: url(./istockphoto-517188688-1024x1024.jpg);
}
.image3 {
  background-image: url(./thumb-1920-1302094.jpg);
}
.image {
  background-size: cover;
  background-repeat: no-repeat;
  width: 800px;
  height: 400px;
}
.buttons-texts {
  width: 800px;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.buttons {
  display: flex;
  width: 800px;
  justify-content: space-around;
}
button {
  border-radius: 0%;
  font-size: 50px;
  border: none;
  width: 800px;
}
.background {
  background-color: white;
}
